/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100px;
}

#hero-section {
    /* background: url("images/pune.webp"); */
    background: url("images/indian-maharashtra-fort-mountain-vector_1076263-720.avif");
    background-size: 720px 600px;
    width: 720px;
    height: 343px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#activities-section {
    background: #F1FAEE;
    width: 720px;
    height: 378px;
    color: #1D3557;
}

#guide-section {
    background: #FFFFFF;
    width: 720px;
    height: 394px;
    color: #1D3557;
}

#hero-section-title {
    background-color: #1D3557;
    border-radius: 10px;
    margin: 119px 248px 11px 247px;
    padding: 3px 12px 5px 12px;
    font-size: x-large;
}

#hero-section-note {
    background-color: #457B9D;
    border-radius: 10px;
    margin: 0 154px 119px 154px;
    padding: 5px 10px 8px 10px;
    font-size: large;
}

img {
    border-radius: 50%;
}

.activities-section {
    display: flex;
    justify-content: center;
    font-size: small;
}

#activities-section-title {
    margin: 39px auto 54px auto;
}

#sarasbaug-section {
    margin: 1px 82px 164.66px 83px;
}

#garden-section {
    margin: 0 70.03 161.03px 0;
}

#parvati-section {
    margin: 0 83px 164.34px 73.34px;
}

.guide-section {
    background: #A8DADC;
    width: 400px;
    height: 294px;
    margin: 50px 160px;
    display: flex;
    justify-content: start;
    border-bottom: 6px solid #1D3557;
    border-radius: 10px;
}

#guide-section-img {
    width: 400px;
    height: 248.67px;
    margin: 23px 5px 22.33px 13px;
    padding: 0;
    background-image: url("images/ashish.jpg");
    background-size: 156px 250px;
    border-radius: 10px;
}

#guide-section-title {
    margin: 49px 7px 14px 11px;
}

#guide-section-details {
    margin: 0 11px 26px 7px;
    font-style: italic;
    font-size: small;
}

.footer {
    margin-top: 70px;
    padding-bottom: 40px;
}